@import '__common-info/beer__common-info.css';
@import '__full-info/beer__full-info.css';
@import '__image/beer__image.css';
@import '__metric/beer__metric.css';
@import '__metric-data/beer__metric-data.css';
@import '__metric-name/beer__metric-name.css';
@import '__title/beer__title.css';
@import '__information/beer_information.css';

.beer {
  position: relative;
  overflow: hidden;
}

.beer__underline {
  height: 2px;
  position: relative;
  left: -100%;
  clear: left;
  background: -moz-linear-gradient(-45deg, rgba(255,145,20,1) 0%, rgba(255,145,20,0.93) 7%, rgba(241,244,41,0.69) 31%, rgba(242,242,125,0.25) 74%, rgba(237,237,237,0.09) 90%, rgba(237,237,237,0) 99%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, rgba(255,145,20,1) 0%,rgba(255,145,20,0.93) 7%,rgba(241,244,41,0.69) 31%,rgba(242,242,125,0.25) 74%,rgba(237,237,237,0.09) 90%,rgba(237,237,237,0) 99%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, rgba(255,145,20,1) 0%,rgba(255,145,20,0.93) 7%,rgba(241,244,41,0.69) 31%,rgba(242,242,125,0.25) 74%,rgba(237,237,237,0.09) 90%,rgba(237,237,237,0) 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */;
  transition: left 1s ease-out;
}

.beer:hover .beer__underline{
  left: 0;
  /* border-bottom: 2px rgba(44, 254, 0, 0.55) solid; */
}
