<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="./dist/bundle.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
  rel="stylesheet">
  <script src="./dist/app.bundle.js" defer></script>
  
  <title>Document</title>
</head>
<body>
  <div class='application'>
    <div class="header application__header">
        <span class="header__title">Beer</span>
        <form name="search-form" class="search-form header__search-form">
            <input name="beer-name" value="" id='beer-name' ondragenter="null" class="search-form__input">
        </form>
    </div>
    <div id='beer-list' class="beer-list application__beer-list">
    </div>
  </div>

  <div id="modal" class="modal modal--close"></div>
</body>
</html>