<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="styles/style.css">
  <script src="./scripts/main.js" defer></script>
  <title>Document</title>
</head>
<body>
  <div id='app'>
    <h1>Beer</h1>
    <p class='tagline'>Now u can find beer</p>
    <div id='xhr-test'>

        <form name="beerForm" class="beerForm">
            <input name="beerName" value="" id='beerNameInput'>
        </form>
      <button id='xhr-button' hidden>Click for XHR</button>
    </div>
    <div id='xhr-text'>
    </div>
  </div>
</body>
</html>