html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Beer
    link(rel="stylesheet", href="./dist/bundle.css")
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    block scripts
      script(src="./dist/app.bundle.js" defer)
  body
    block content
    #modal.modal.modal--close
    block footer
      footer