extends layout.pug
block content
  form(onsubmit="myLib.login()").login-form
    label(for="name").login-form__label Name
    input(type="text" name="name" id="name").login-form__input
    label(for="password").login-form__label Password
    input(type="password" name="password" id="password").login-form__input
    input(type="submit", value="Login").login-form__submit