.message {
  opacity: 0;
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 10px;
  border-radius: 5px;
  min-width: 200px;
  max-width: 400px;
  transition: opacity 0.3s linear; 
}

.message--show {
  opacity: 1;
}

.message--type-success {
  background-color: rgba(71, 209, 94, 1);
  color: white;
}

.message--type-error {
  background-color: rgb(243, 60, 69);
  color: white;
}

.message--type-warning {
  background-color: rgb(112, 207, 236);
  color: white;
}