.header {
  text-align: center;
  background: rgba(62, 47, 47, 0.89);
}

.header__title {
  font-size: 5vw;
  color: rgba(249, 238, 30, 0.85);
}

.header__title--center {
  margin: 0 auto;
}

.header__search-form {
  padding: 10px;
}