@import '__title/header__title.css';

.header {
  min-width: 320px;
  min-height: 120px;
  text-align: center;
  background: rgba(62, 47, 47, 0.89);
}


.header__search-form {
  padding: 10px;
}

.header__search-form--fixed {
  background: rgba(62, 47, 47, 0.89);  
  position: fixed;
  top:0; left:0;
  width: 100%;
}

@media screen and (max-width: 944px) {
  .header__title {
    font-size: 2em;
  }
}

@media screen and (max-width: 620px) {
  
}