@import '__title/header__title.css';

.header {
  min-width: 320px;
  min-height: 120px;
  text-align: center;
  background-image: url('/images/back.jpg');
  background-size: cover;
  background-position-y: 20%;
}


.header__search-form {
  padding: 10px;
}

.header__search-form--fixed {
  position: fixed;
  z-index: 100;
  top:0; left:0;
  width: 100%;
}

@media screen and (max-width: 944px) {
  .header__title {
    font-size: 2em;
  }

  .header {
    min-height: 100px;
  }
}

@media screen and (max-width: 620px) {
  
}