@import "../blocks/application/application.css";
@import "../blocks/header/header.css";
@import "../blocks/search-form/search-form.css";
@import "../blocks/beer-list/beer-list.css";
@import "../blocks/beer/beer.css";
@import "../blocks/login-form/login-form.css";
@import "../blocks/modal/modal.css";
@import "../blocks/properties/properties.css";
@import "../blocks/metrics/metrics.css";
@import "../blocks/admin-panel/admin-panel.css";

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,700');
* {
  font-family: 'Barlow', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

.body--fixed {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #FC4F58; 
}
