@import url('https://fonts.googleapis.com/css?family=Berkshire+Swash');
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lato', cursive;
}

html,
body {
  height: 100%; 
}

#app {
  max-width: 800px;
  height: 100%;
  margin: 0 auto;
  text-align: center;
}


.bigHeader {
  margin: 0 auto;
  width: 100%;
  max-width: 800px;
  color: white;
  background: rgba(150, 0, 0, 0.50);
  height: 130px;
}

.bigHeader .title {
  display: inline-block;
  font-size: 4em;
}

.bigHeader.fixed {
  height: 50px;
  margin: 0 auto;
  line-height: 50px;
  position: fixed;
  text-align: left;
}

.bigHeader.fixed .title {
  float: left;
  font-size: 30px;
  margin-left: 10px;
}

.beerForm input {
  width: 300px;
  height: 30px;
  margin: 0 auto;
  font-size: 26px;
  text-align: center;
}

.bigHeader.fixed .beerForm input {
  width: 200px;
  float: right;
  margin: 10px;
}

.beerForm input:focus {
  outline: none;
  border-bottom: 1px black solid;
}

.beerInfo {
  overflow: hidden;
  border: 1px lightgrey solid;
  width: 300px;
  max-height: 200px;
  min-height: 100px;
  margin: 5px auto;
}

.beerInfo_img {
  float: left;
  background: white;
  cursor: pointer;
}

.beerInfo_name {
  font-size: 20px;
  margin: 5px;
  min-height: 50px;
  cursor: pointer;
}

.beer {
  width: 302px;
  margin: 0 auto;
  margin-bottom: 10px; 
  cursor: pointer;
}

.beer:hover {
  background:rgba(119, 199, 249, 0.30);
}

.beer_image {
  height: 90px;
  width: 90px;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  float: left;
}

.beer_information {
  height: 90px;
  width: 190px;
  float: right;
  margin: 5px;
  text-align: left;
}

.beer_name {
  display: inline-block;
  font-size: 18px;
  font-weight: bold;
  height: 45px;
  width: 100%;
}

.beer_common-info {
  margin: 2px;
}

.beer-metric {
  display: inline-block;
  width: 90px;
  font-size: small;
}

.beer_metric-name {
  display: inline-block;
  width: 24px;
  text-align: right;
  margin-right: 5px;
  font-weight: bold;
}

.beer_metric-data {
  display: inline-block;
}

.beer_full-info {
  text-align: left;
  overflow: auto;
  height: 0px;
  opacity: 0;
  clear: both;
  padding: 2px 4px;
  transition: height 50ms ease-in;
}

.beer_full-info.open {
  height: 300px;
  opacity: 1;
}
